.header {
  height: 6em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.logotitle{
  font-size: 2em;
  text-transform: lowercase;
}

.logotitle:hover {
  color: #802290 !important;
  text-decoration: none !important;
}

.logotitle::before {
  height: 0em !important;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
